$altura-fondo: calc( (17) * 120px );

.pagina-programacion {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;

    .bloques-horas {
        visibility: hidden;
        width: 0;
        height: 0;
        overflow: hidden;
    }

    .dia {
        margin: 10px 0;
        width: 100% ;
        height: 200px;
        background-color: #616161;
        display: flex;
        flex-direction: column;
        -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

        .titulo-dia {
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
            font-family: 'Montserrat';
            font-size: 24px;
            color: white;
        }

        .bloques-dia {
            height: 140px;
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            display: flex;
            flex-direction: row;

            .bloque-programa {
                width: 200px;
                min-width: 200px;
                height: 120px;
                min-height: 120px;
                max-height: 120px;
                //margin-left: 10px;
                margin-right: 20px;
                //background-color: #43a047;
                display: flex;
                flex-direction: column;

                font-family: 'Roboto';

                -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
                box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

                cursor: pointer;

                .horas-programa {
                    color: #DDDDDD;
                    font-size: medium;
                    font-weight: bold;
                    margin: 10px 20px;
                    margin-top: 20px;
                }

                .nombre-programa {
                    color: white;
                    font-size: large;
                    font-weight: bolder;
                    margin: 10px 20px;
                }
            }
        }
    }
}

@media(min-width: 1024px) {
    .pagina-programacion {
        flex-direction: row;
        width: 95%;

        .bloques-horas {
            visibility: visible;
            width: 100px;
            height: 120px;
            overflow: initial;
            padding-top: 60px;
            margin-right: 15px;

            .bloque-hora {
                height: 120px;

                .hora {
                    color: white;
                    text-align: center;
                    font-family: 'Open Sans';
                }
            }
        }

        .dia {
            height: 100%;
            background-size:100% 120px,100% 120px;

            &:nth-child(even) {
                background-image:linear-gradient(0deg, transparent 50%, #aaa 50%);
            }

            &:nth-child(odd) {
                background-image:linear-gradient( 0deg, #aaa 50% , transparent 50%);
            }


            .titulo-dia {
                height: 60px;
                margin: 0 auto;
                line-height: 60px;
            }

            .bloques-dia {
                flex-direction: column;
                height: $altura-fondo;
                position: relative;
                margin: 0;
                overflow: visible;

        
                /*
                &:nth-child(odd) {
                    background-image:linear-gradient(90deg, #aaa 50%, #ccc 50%);
                    background-size:100% 60px,100% 60px;
                    background-position:0 8px, 0 ,0;
                    
                }
                */

                .bloque-programa {
                    min-width: auto;
                    min-height: none;
                    max-height: none;
                    width: 100%;
                    margin: 0px 0;
                    position: absolute;
                    height: 120px;

                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;

                    border-style: groove;
                    border-width: 1px;
                    border-color: #333333;

                    margin: -2px;

                    .horas-programa {
                        margin: 4px;
                        margin-bottom: 0px;

                        font-size: 16px;
                    }

                    .nombre-programa {
                        margin: 4px;

                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media(min-width: 1920px) {
    .pagina-programacion {
        .dia {
            .bloques-dia {
                .bloque-programa {
                    .horas-programa {
                        font-size: medium;
                    }
                    .nombre-programa {
                        font-size: large;
                    }
                }
            }
        }
    }
}