@import '../colores';

$color-fondo: #191b1c;

@mixin nav-link {
    margin: auto;
    text-align: center;
    font-family: "Open Sans";
    color: white;
    text-decoration: none;

    &.active {
        color: $color-verde-radio;
    }
}

.barra-navegacion {
    width: 100%;
    height: 60px;
    display: inline-flex;
    flex-direction: row;
    background-color: $color-fondo;
    margin-bottom: 40px;

    .contenido-barra-navegacion {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        background-color: $color-fondo;

        .div-logo {
            display: flex;
            flex-direction: row;
            margin-left: 10px;

            .logo-img {
                margin: auto;
                height: 40px;
                width: auto;
            }

            .logo-link {
                text-decoration: none;
                margin-left: 10px;

                h1 {
                    margin: 0;
                    line-height: 60px;
                    font-size: 16px;
                    color: white;
                    height: 100%;
                    text-decoration: none;
                    font-family: "Pacifico";
                }
            }
        }

        .Collapsible {
            visibility: visible;
            margin-left: auto;

            .boton-navegacion {
                margin-top: 15px;
                margin-right: 10px;
                cursor: pointer;

                .fa.fa-bars {
                    color: white;
                    font-size: 32px;
                    width: 35px;
                    height: 35px;
                    text-align: center;
                    line-height: 35px;
                }
            }

            .Collapsible__contentOuter {
                position: absolute;
                top: 60px;
                left: 0px;
                width: 100%;
                background-color: $color-fondo;
            }

            .div-nav-links {
                width: 100%;
                margin-top: 20px;
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;

                .nav-link {
                    @include nav-link;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    font-size: 36px;
                    height: 40px;
                }
            }
        }

        .navegacion-escritorio {
            overflow: hidden;
            visibility: hidden;
            width: 0;
            height: 0;
            margin: 0;
        }

    }
}

@media (min-width: 320px) {
    .barra-navegacion {
        .contenido-barra-navegacion {
            .div-logo {
                
                .logo-img {
                    height: 55px;
                }
                
                .logo-link {
                    h1 {
                        font-size: 18px;
                    }
                }
            }
            .Collapsible {    
                .boton-navegacion {
                    margin-top: 5px;
                    margin-right: 10px;
    
                    .fa.fa-bars {
                        color: white;
                        font-size: 42px;
                        width: 45px;
                        height: 45px;
                        text-align: center;
                        line-height: 45px;
                    }
                }
            }
        }
    }
}

@media (min-width: 375px) {
    .barra-navegacion {
        .contenido-barra-navegacion {
            .div-logo {
                
                .logo-img {
                    height: 55px;
                }
                
                .logo-link {
                    h1 {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .barra-navegacion {
        .contenido-barra-navegacion {
            .Collapsible {
                visibility: hidden;
                width: 0;
                height: 0;
            }
            .navegacion-escritorio {
                visibility: visible;
                width: auto;
                height: 80px;
                margin-right: 20px;

                

                .div-nav-links {
                    display: flex;
                    flex-direction: row;

                    .nav-link {
                        @include nav-link;
                        line-height: 60px;
                        margin-left: 10px;
                        margin-right: 10px;
                        font-size: 24px;
                        height: 25px;
                    }
                }
            }
        }
    }
}
