@import "../mixins";

.modal-programa {
    
    background-color: rgba(0,0,0,0.8);

    margin: auto;
    
    height: 100%;
    width: 100%;

    z-index: 5;

    &:focus {
        outline:0;
    }

    .bloque-programa {
        height: 100%;
        @include dialogo-programa;
    }
}

@media(min-width: 768px) {
    .modal-programa {
        margin: auto;
        margin-top: 50px;
        vertical-align: middle;

        width: 80%;
        max-width: 800px;

        height: fit-content;
    }
}