:root { // para cambiar los colores con js
	--barra-volumen-color-fondo: white;
	--barra-volumen-color-boton: black;
}

.reproductor-espacio {
    background-color: #202020;
    height: 80px;
    width: 100%;
}

.reproductor{
    position: fixed;
    display: flex;
    height: 80px;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    align-content: center;
    align-items: center;


    .reproductor-interior {
        width: 95%;
        height: 90%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .reproductor-div-izquierda {
            width: 120px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .suena-ahora {
                font-family: 'Open Sans';
                font-size: 12px;
                color: white;
            }

            .nombre-programa {
                font-family: 'Open Sans';
                font-size: 14px;
                color: white;
            }
        }

        .reproductor-div-centro {
            width: 60px;
            height: auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-items: center;

            .boton-play {
                margin: auto;
                height: 60px;
                width: 60px;
                background: none;
				border-radius: 8px;
				border: 0;
				outline: 0;
                cursor: pointer;
                text-align: center;
                
                &:before {
                    width: 100%;
                    height: 100%;
                    font-family: 'FontAwesome';
                    color: white;
					line-height: 60px;
					font-size: 54px;
					margin: 0px;
                }

                &.play:before {
                    content: "\f144";
                }

                &.stop:before {
                    content: "\f04c";
                }
            }
        }

        .reproductor-div-derecha {
            width: 90px;
            display: flex;
            flex-direction: row;
            justify-content: center;

            .boton-mute {
                height: 30px;
                width: 30px;
                min-width: 30px;
                margin: auto;
				border-radius: 8px;
				border: 0;
				outline: 0;
                cursor: pointer;
                margin-right: 5px;
                margin-left: 10px;

                &:before {
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    font-family: 'FontAwesome';
                    color: white;
					line-height: 30px;
					font-size: 20px;
                }
                
                &.sonando:before {
                    content: "\f028";
                }

                &.mute:before {
                    content: "\f026";
                }
            }

            .barra-volumen {
                -webkit-appearance: none;

                width: 50px;
                height: 10px;
                
                margin-top: auto;
                margin-bottom: auto;

                background-color: transparent;

                cursor: ew-resize;

                overflow: hidden;

                //chrome
                &::-webkit-slider-runnable-track {
                    -webkit-appearance: none;
                    height: 10px;
                    background-color: white;
                }

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    width: 10px;
                    height: 10px;
                    background: var(--barra-volumen-color-boton);
                    box-shadow: -80px 0 0 80px var(--barra-volumen-color-fondo);
                }

                //firefox
                &::-moz-range-progress {
                    background-color: var(--barra-volumen-color-fondo); 
                    height: 10px;
                }

                &::-moz-range-track {
                    height: 10px;
                    background-color: white;
                }

                &::-moz-range-thumb {
                    background-color: var(--barra-volumen-color-boton);
                    border-radius: 0;
                    border: 0;
                    height: 10px;
                    width: 10px;
                }

                //ie
                &::-ms-fill-lower {
                    background-color: var(--barra-volumen-color-fondo); 
                }
            }
        }
    }
}

@media (min-width: 375px) {
    .reproductor {
        .reproductor-interior {
            width: 90%;

            .reproductor-div-izquierda {
                width: 160px;

                .suena-ahora {
                    font-size: 14px;
                }

                .nombre-programa {
                    font-size: 16px;
                }
            }

            .reproductor-div-derecha {
                width: 160px;

                .barra-volumen {
                    width: 100px
                }
            }
        }
    }
}

@media (min-width: 425px) {
    @media (min-width: 375px) {
        .reproductor {
            .reproductor-interior {
                width: 80%;
    
                .reproductor-div-izquierda {
                    width: 45%;

                    .suena-ahora {
                        width: 130px;
                    }
                }

                .reproductor-div-derecha {
                    width: 45%;
                    
                }
            }
        }
    }
}

@media (min-width: 768px) {
    @media (min-width: 375px) {
        .reproductor {
            .reproductor-interior {
                width: 600px;
                .reproductor-div-izquierda {
                    .suena-ahora {
                        width: auto;
                        font-size: 16px;
                    }

                    .nombre-programa {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}