@mixin nav-link {
    margin: auto;
    text-align: center;
    font-size: 28px;
    font-family: "Open Sans";
    color: white;
    text-decoration: none;
    height: 30px;
}

.barra-navegacion {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: black;

    .contenido-barra-navegacion {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        background-color: blue;

        .div-logo {
            display: flex;
            flex-direction: row;

            .logo-img {
                height: 55px;
                width: auto;
            }

            .logo-link {
                text-decoration: none;

                h1 {
                    margin: 0;
                    line-height: 60px;
                    font-size: 24px;
                    color: white;
                    height: 100%;
                    text-decoration: none;
                    font-family: "Pacifico";
                }
            }
        }

        .Collapsible {
            visibility: visible;
            margin-left: auto;

            .boton-navegacion {
                margin-top: auto;
                margin-right: 10px;
                cursor: pointer;

                .fa.fa-bars {
                    color: white;
                    font-size: 48px;
                    width: 55px;
                    height: 55px;
                    text-align: center;
                    line-height: 55px;
                }
            }

            .Collapsible__contentOuter {
                position: fixed;
                top: 60px;
                left: 0px;
                width: 100%;
                background-color: blue;
            }

            .div-nav-links {
                width: 100%;
                margin-top: 20px;
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;

                .nav-link {
                    @include nav-link;
                }
            }
        }

        .navegacion-escritorio {
            overflow: hidden;
            visibility: hidden;
            width: 0;
            height: 0;
            margin: 0;
        }

    }
}

@media (min-width: 600px) {
    .barra-navegacion {
        .contenido-barra-navegacion {
            .Collapsible {
                visibility: hidden;
                width: 0;
                height: 0;
            }
            .navegacion-escritorio {
                visibility: visible;
                width: auto;
                height: 80px;
                margin-right: 20px;

                

                .div-nav-links {

                    display: flex;
                flex-direction: row;
                    .nav-link {
                        @include nav-link;
                        line-height: 60px;
                    }
                }
            }
        }
    }
}
