@import "../../../mixins";

.programa-actual {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    margin-top: 25px;

    background-color: #00000033;

    @include sombra-derecha-abajo;

    .bloque-suena-ahora {
        margin-top: 10px;
        text-align: center;
        .suena-ahora {
            font-size: 24px;
            color: white;

            font-family: "Open Sans";
        }
    }

    .bloque-programa {
        margin: auto;
        width: 95%;
        //height: 200px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;

        @include sombra-derecha-abajo;

        max-width: 320px;

        @include dialogo-programa; // _mixins
    }


    .bloque-revisa-programacion {
        width: 90%;
        height: auto;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;

        .revisa-programacion {
            color: white;

            font-family: "Open Sans";

            .nav-link {
                text-decoration: underline;
                color: white;
            }
        }
    }
}

@media(min-width: 768px) {
    .programa-actual {

        .bloque-suena-ahora {
            .suena-ahora {
                font-size: 2vw;
            }
        }
        
        .bloque-programa {
            width: 80%;
            max-width: 800px;
        }

        .bloque-revisa-programacion {
            .revisa-programacion{
                font-size: 1.6vw;
            }
        }
    }
}